<div class="row">
  <div class="col-sm-12">
    <div class="text-left">
      <% if word_count.present? && tag.present? %>
        <h3 class="heading"><%= word_count %> <%= "word".pluralize(word_count) %> <%= tag if tag.present? %>in Total</h3>
      <% end %>
    </div>
    <div class="text-right">
    <%= search_form_for q, url: search_dictionary_path, local: true do |f| %>
      <%= f.label :name_or_meaning_or_start, "単語 / 意味" %>&emsp;
      <%= f.search_field :name_or_meaning_start %>
      <%= f.submit "検索", class: "btn btn-default" %>
    <% end %>
    </div>
    
    <div class="row margin-top-sm">
      <div class="row" id="containment" style="border: 1px solid black; padding: 20px;">
        <div class="col-xs-10">
          <% @words.each do |word| %>
            <div class="col-xs-6 col-sm-4 col-md-3">
              <%= render "layouts/card-mobile", word: word %>
            </div>
          <% end %>
        </div>
        <div class="col-xs-2">
	        <div class="delete-box" style="height: 800px; z-index: -1; border: 1px dotted black;">
        	  <h4>DELETE WORD</h4>
          </div>
        </div>
      </div>
    </div>
    <%= paginate words, window: 1 %>
  </div>
</div>
