<div class="row">
  <div class="col-sm-12">
    <%= search_form_for q, url: search_dictionary_path, local: true do |f| %>
      <%= f.label :name_or_meaning_or_start, "Tag or Word" %>
      <%= f.search_field :name_or_meaning_start %>
      <%= f.submit %>
    <% end %>
    <h3 class="heading"><%= pluralize(words.count, "word") %> in Total</h3>
    <div class="row">
      <% words.each do |word| %>
        <div class="col-sm-2">
          <%= render "layouts/card", word: word %>
        </div>
      <% end %>
    </div>
    <div class="paginate">
      <%= paginate words %>
    </div>
  </div>
</div>
