<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <div class="row top-row">
      <div class="col-sm-5">
        <div class="text-center">
          <h1 class="heading" style="font-size: 25px;"><b>EngPic</b>, <br>Dictionary<br>ONLY for YOU,<br> but WITH EVERYBODY</h1>
        </div>
      </div>
      <div class="col-sm-7">
        <table class="table word-table no-overflow-table">
          <% if Word.all.present? %>
          <tr class="row">
            <th class="col-sm-4 text-center table-heading">タグ</th>
            <td class="col-sm-8">
              <% @tags.sample(4).each do |t| %>
                <%= link_to t, tagged_words_path(t), class: "table-data" %>, 
              <% end %>
              <br><%= link_to "全てのタグを見る", tags_words_path, style: "text-decoration: underline !important; display: inline-block; margin: 2px 0" %>
            </td>
          </tr>
    
          <tr class="row">
            <th class="col-sm-2 text-center table-heading">単語</th>
            <td class="col-sm-7">
              <% @listed_words.sample(4).each do |w| %>
                <%= link_to w, same_name_words_path(w), class: "table-data"%>, 
              <% end %>
            </td>
          </tr>
    
          <tr class="row">
            <th class="col-sm-5 text-center table-heading">意味</th>
            <td class="col-sm-7">
              <% @meanings.sample(4).each do |w| %>
                <%= link_to w, same_meaning_words_path(w), class: "table-data" %>, 
              <% end %>
            </td>
          </tr>
          <% end %>
        </table>
      </div>
    </div>
    
    <div class="row">
      <div class="col-sm-12">
        <h3 class="heading">
          <%= @word_count %> <%= "word".pluralize(@word_count) %> <%= @tag if @tag.present? %>in Total</h3>
        <%= search_form_for @q, url: search_words_path, local: true, class: "text-right form-inline" do |f| %>
          <%= f.label :name_or_meaning_start, "単語 / 意味", class: "control-label" %>
          <%= f.search_field :name_or_meaning_start, class: "form-control" %>
          <%= f.submit "検索", class: "btn btn-default" %>
        <% end %>
        <p>
          <span class="bg-warning">YELLOW</span>, 投稿単語で、辞書に登録されております。<br>
          <span class="bg-info">BLUE</span>, 投稿単語ですが、辞書からは外されております。
        </p>

        <h3 class="text-right"><%= link_to "New word", new_word_path, data: { turbolinks: false }, class: "btn btn-primary" %></h3>
        <div class="row">
          <% @words.each do |word| %>
            <div class="col-xs-6 col-sm-4 col-md-3">
              <%= render "layouts/card", word: word %>
            </div>
          <% end %>
        </div>
        <div class="paginate">
          <%= paginate @words, window: 1 %>
        </div>
      </div>
    </div>
    
  </div>
</div>