<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <div class="text-center" style="height: 500px;">
      <%= attachment_image_tag @word, :image, :fill, 300, 300, fallback: "noimage.jpg", size: "300x300", id: "word-image-#{ @word.id }" %>
      <div class="tag-lists">
        <% @word.tags.each do |tag| %>
          <%= link_to tag, tagged_words_path(tag), class: "label-info" %>
        <% end %>
      </div>
      <h4><%= @word.meaning %></h4>
      <p><%= @word.sentence %></p>
      <span id="add-btn-<%= @word.id %>">
        <%= render "public/dictionaries/add-btn", word: @word %> 
      </span>
      <% if @word.user == current_user %>
        <%= link_to "Edit", edit_word_path(@word) %>
      <% end %>
      <!--related_word-->
    </div>
  </div>
</div>