<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <h3>Tag list</h3>
    <h3 class="text-right"><%= @tag_count %> in Total</h3>
    <h3 class="text-right"><%= link_to "New Word", new_word_path, class: "btn btn-primary" %></h3>
    <table class="table table-hover">
      <thead class="row">
        <th class="col-sm-4">Tag name</th><th class="col-sm-3">Word counts</th><th class="col-sm-5"></th>
      </thead>
      <tbody>
        <% @tags.each do |t| %>
          <tr>
            <td><%= link_to t.name, tagged_words_path(t) %></td>
            <td><%= pluralize(Word.tagged_with(t).count, "word") %></td>
            <td>
              <% Word.tagged_with(t).sample(4).each do |w| %>
                <%= link_to word_path(w) do %>
                  <%= attachment_image_tag w, :image, :fill, 30, 30, fallback: "noimage.jpg", size: "30x30" %>
                <% end %>
              <% end %>
            </td>
          </tr> 
        <% end %>
      </tbody>
    </table>
  </div>
</div>