<% provide(:title, "Admin | Words") %>
<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <h3 class="heading">単語</h3>
    <%= search_form_for @q, url: search_admin_words_path, class: "form-group form-inline", local: true do |f|  %>
      <%= f.label :name_or_meaning_or_start, "単語名 / 意味", class: "control-label" %>
      <%= f.text_field :name_or_meaning_start, class: "form-control" %>
      <%= f.submit "検索", class: "btn btn-default" %>
    <% end %>
    <table class="table table-hover">
      <thead class="row">
        <th class="col-xs-2 col-sm-2 col-md-1"></th><th class="col-xs-5 col-sm-5 col-md-3">単語名</th><th class="col-xs-5 col-sm-5 col-md-3">意味</th><th class="hidden-xs hidden-sm col-md-5">ユーザー</th>
      </thead>
      <tbody>
        <% @words.each do |word| %>
            <% if word.user.is_active? %>
              <tr id="word-<%= word.id %>">
            <% else %>
              <tr id="word-<%= word.id %>" class="inactive">
            <% end %>
              <td class="col-xs-2 col-xs-2 col-md-1"><%= attachment_image_tag word, :image, :fill, 30, 30, fallback: "noimage.jpg", size: "30x30", id: "word-image-#{ word.id }" %></td>
              <td class="col-xs-5 col-sm-4 col-md-4"><%= link_to word.name, admin_word_path(word) %></td>
              <td class="col-xs-5 col-xs-4 col-md-4"><%= word.meaning %> </td>
              <td class="hidden-xs hidden-sm col-md-3"><%= link_to word.user.name, admin_user_path(word.user) %></td>
            </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @words, window: 2 %>
  </div>
</div>