<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <h3 class="heading">ユーザー詳細</h3>
    <div class="row">
      <div class="col-sm-4">
        <%= attachment_image_tag @user, :image, :fill, 150, 150, fallback: "noimage.jpg", size: "150x150" %>
      </div>
      <div class="col-sm-8">
        <table class="table">
          <tr class="row">
            <th class="col-xs-12 col-sm-4">名前</th>
            <td class="col-xs-12 col-sm-6 col-sm-offset-2"><%= @user.name %></td>
          </tr>
          <tr class="row">
            <th class="col-sm-4">メールアドレス</th>
            <td class="col-sm-6 col-sm-offset-2"><%= @user.email %></td>
          </tr>
          <tr class="row">
            <th class="col-sm-4">紹介文</th>
            <td class="col-sm-6 col-sm-2"><%= @user.introduction %></td>
          </tr>
        </table>
        <!--<div class="row" style="border-bottom: 2px solid #ccc;">-->
        <!--  <div class="col-sm-4">-->
        <!--    <h4>名前</h4>  -->
        <!--  </div>-->
        <!--  <div class="col-sm-8 word-break">-->
        <!--    <h4><%= @user.name %></h4>-->
        <!--  </div>-->
        <!--</div>-->
        
        <!--<div class="row"  style="border-bottom: 2px solid #ccc;">-->
        <!--  <div class="col-sm-4">-->
        <!--    <h4>紹介文</h4>  -->
        <!--  </div>-->
        <!--  <div class="col-sm-8 word-break">-->
        <!--    <h4><%= @user.introduction %></h4>-->
        <!--  </div>-->
        <!--</div>-->
        <!--<div class="row"  style="border-bottom: 2px solid #ccc;"> -->
        <!--  <div class="col-sm-4">-->
        <!--    <h4>メールアドレス</h4>-->
        <!--  </div>-->
        <!--  <div class="col-sm-8 word-break">-->
        <!--    <h4><%= @user.email %></h4>-->
        <!--  </div>-->
        <!--</div>-->
        
        <div class="text-right margin-top-sm">
          <%= link_to "辞書", admin_user_dictionary_path(@user), class: "btn btn-info btn-lg" %>
          <%= link_to "編集", edit_admin_user_path(@user), class: "btn btn-default btn-lg", data: { turbolinks: false } %>
        </div>
      </div>
      
      <div class="row">
        <div class="col-sm-12">
          <h3>投稿単語</h3>
          <div class="row">
            <% if @words.present? %>
              <% @words.each do |word| %>
                <%= link_to admin_word_path(word) do %>
                  <div class="col-sm-2">
                    <div class="admin-word-card">
                      <%= attachment_image_tag word, :image, fallback: "noimage.jpg", class: "admin-word-image", id: "word-image-#{ word.id }" %><br>
                      <p class="admin-word-text">
                        <%= word.name %><br>
                        <%= word.meaning %>
                      </p>
                    </div>
                  </div>
                <% end %>
              <% end %>
            <% else %>
              <h4>まだ単語は登録されておりません。</h4>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>