<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <h3 class="heading">Check your vocabulary</h3>
    <h4>Check from category?</h4>
    <%= form_with scope: :category, url: question_dictionary_path, class: "form-inline", local: true do |f| %>
      <%= f.select :tag, @tags, {}, { class: "form-control" } %>
      <%= f.submit "Check!", data: { turbolinks: false }, class: "btn btn-default" %>
    <% end %>
    <h4>Check from all words?</h4>
    <%= link_to "Check!", question_dictionary_path, data: { turbolinks: false }, class: "btn btn-default" %>
    <br>
    <div class="text-right">
      <%= image_tag("books.png") %>
    </div>    
    <%= link_to "Back", dictionary_path, style: "font-size: 20px;" %>
  </div>
</div>