<div class="row">
  <div class="col-sm-10 col-sm-1">
    <h3>Check your skill!</h3>
    <p>We have <%= pluralize(@questions.count, "question") %></p>
    <div class="row">
      <%= form_with scope: :check, url: check_dictionary_path, local: true do |f| %>
        <% @questions.each do |question| %>
          <div class="col-sm-3">
            <div class="card">
              <%= attachment_image_tag question, :image, :fill, 50, 50, fallback: "noimage.jpg", size: "50x50", id: "img-#{ question.id }" %><br>
              <%= f.label :"answer#{ question.id }", "Answer", class: "control-label", id: "label-#{ question.id }" %>
              <%= f.text_field :"answer#{ question.id }", class: "form-control" %>
              <%= f.hidden_field :"question#{ question.id }", value: question.id %>
            </div>
          </div>
        <% end %>

        <%= f.submit "Finish!", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>