<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <section class="top-box">
      <h3 class="heading">Your Dictionary</h3>
      <h4 class="text-right">
        has <%= pluralize(@dictionary.words.count, "word") %>&emsp;
        <%= link_to "New word", new_word_path, data: { turbolinks: false }, class: "btn btn-primary" %>
      </h4>
    </section>
    <div class="card-index">
      <%= render "public/words/index", q: @q, words: @words %>
    </div>
    <h4>辞書の最終更新日: on <%= @dictionary.updated_at.strftime("%Y/%m/%d") %></h4>
    <h4>辞書を使ってテストする
      <p class="text-right"><%= link_to "Let's test!", choose_dictionary_path, class: "btn btn-default" %></p>
    </h4>
  </div>
</div>