<div id="user-info">
  <%= attachment_image_tag user, :image, class: "img-square my-img", fallback: "noimage.jpg", size: "225x225" %>
  <table class="table table-hover">
    <tr><th>Name</th><td><%= user.name %></td></tr>
    <tr><th>Introduction</th><td><%= user.introduction %></td></tr>
    <tr><th>Follower</th><td id="followers-number"><%= user.followers.count %></td></tr>
    <tr><th>Followings</th><td id="followers-number"><%= user.followings.count %></td></tr>
  </table>
</div>