<tr>
  <td class="col-xs-3 col-sm-2"><%= attachment_image_tag user, :image, :fill, 50, 50, fallback: "noimage.jpg", size: "50x50" %></td>
  <td class="col-xs-5 col-sm-4"><%= link_to user.name, user_path(user) %></td>
  <td class="col-xs-4 col-sm-2"><%= counter(user.words.count, "word") %></td>
  <td class="hidden-xs col-sm-2">
    <% if user.words.present? %>
      <% user.words.tag_counts.sample(2).each do |t| %> <!-- Userの持っているタグの名前を4つランダムにかぶりなく取り出す  -->
         <%= t.name %>,<br>
      <% end %>
    <% else %>
      NO TAGS
    <% end %>
  </td>
  <td id="follow-btn-<%= user.id %>" class="hidden-xs col-sm-2"><%= render "follow-btn", user: user %></td>
</tr>