<div class="row">
  <div class="col-sm-12">
    <nav class="navbar navbar-default">
      <div class="navbar-header">
        <%= link_to "LOGO", root_path, class: "navbar-brand" %>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-content">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="navbar-content">
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li>
              <%= link_to user_path(current_user), data: { turbolinks: false } do %>
                <i class="fas fa-home"></i>&nbsp;MyPage
              <% end %>
            </li>
            <li>
              <%= link_to users_path do %>
                <i class="fas fa-users"></i>&nbsp;Users
              <% end %>
            </li>
            <li>
              <%= link_to words_path do %>
                <i class="fas fa-tags"></i>&nbsp;Words
              <% end %>
            </li>
            <li>
              <%= link_to dictionary_path do %>
                <i class="fas fa-book"></i>&nbsp;Dictionary
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fas fa-sign-out-alt"></i>&nbsp;Sign out
              <% end %>
            </li>
          <% else %>
            <li>
              <%= link_to root_path, data: { turbolinks: false } do %>
                <i class="fas fa-home"></i>&nbsp;Home
              <% end %>
            </li>
            <li>
              <%= link_to about_path do %>
                <i class="fas fa-scroll"></i>&nbsp;About
              <% end %>
            </li>
            <li>
              <%= link_to howto_path do %>
                <i class="fas fa-question"></i>&nbsp;How
              <% end %>
            </li>
            <li>
              <%= link_to new_user_registration_path do %>
                <i class="fas fa-user-plus"></i>&nbsp;Register
              <% end %>
            </li>
            <li>
              <%= link_to new_user_session_path do %>
                <i class="fas fa-sign-in-alt"></i>&nbsp;Log in
              <% end %>
            </li>
          <% end %>

        </ul>
      </div>
    </nav>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <% if notice.present? %>
      <p class="notice"><%= notice %></p>
    <% end %>
    <% if alert.present? %>
      <p class="alert"><%= alert %></p>
    <% end %>
  </div>
</div>