<!DOCTYPE html>
<html>
  <head>
    <title>EngPic</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/6d2f46eeba.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap" rel="stylesheet">    
    <%= stylesheet_link_tag    'main/application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'main/application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container page-back">
      <%= render "layouts/header" %>
      <%= yield %>
      <%= render "layouts/footer" %>
    </div>
  </body>
</html>
